.accordion {
    margin: 20em;
}

details[open] {
    background-color: rgb(248, 240, 240);
}

.accordion__summary {
    margin-block: 1em;
    display: block;
}

.accordion__item {
    margin-bottom: 8px;
    outline: 1px solid #666;
    border-radius: 3px;
    max-height: 10em;
    padding-left: 10px;
}
.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary::after {
    content: '^';
    padding-right: 0.5em;
}
  
details[open] > .accordion__summary::after {
    content: 'Ë…';
}